@model IEnumerable<ifa_front.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between ">
    <h1 class="text-success">Categorys</h1>
    <p>
    <a asp-action="Create" class="btn btn-outline-primary">Create Category</a>
</p>
</div>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
            <a asp-action="DeleteC" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>

            </td>
        </tr>
}
    </tbody>
</table>
